# Using Loop  (TRADITIONAL CODE)

In [8]:
numbers = [1, 2, 3, 4, 5]
squared = []

for num in numbers:
    squared.append(num ** 2)


squared

[1, 4, 9, 16, 25]

# Using Map()

In [7]:
def square(number):
     return number ** 2
    
numbers = [1, 2, 3, 4, 5]
squared = map(square, numbers)
list(squared)

[1, 4, 9, 16, 25]

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

map(function(), iterator[])

function : It is a function to which map passes each element of given iterable.
iterator : It is a iterable which is to be mapped.

**an iterable like sets, lists, tuples, etc

In [1]:

# Return double of n
def addition(n):
	return n + n


# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [2]:
# Double all numbers using map and lambda

numbers = (1, 2, 3, 4)
result = map(lambda x: x + x, numbers)
print(list(result))

[2, 4, 6, 8]

In [3]:
# Add two lists using map and lambda

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

In [4]:
# List of strings
l = ['sat', 'bat', 'cat', 'mat']

# map() can listify the list of strings individually
test = list(map(list, l))
print(test)

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

map() Return Value
The map() function returns an object of map class. The returned value can be passed to functions like

**list() - to convert to list

**set() - to convert to a set, and so on.

In [5]:
# Return double of n
def addition(n):
	return n + n


# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(result)

<map object at 0x000001F7170CE940>

# Type Casting using Map()

In [13]:
str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]

int_nums = map(int, str_nums)

print('Only Map Object:',int_nums)

print('Map object convertlist:',list(int_nums))

print('only str Object:',str_nums)

Only Map Object: <map object at 0x000001F717167BB0>
Map object convertlist: [4, 8, 6, 5, 3, 2, 8, 9, 2, 5]
only str Object: ['4', '8', '6', '5', '3', '2', '8', '9', '2', '5']

# map() using Built-in Function

In [14]:
numbers = [-2, -1, 0, 1, 2]

abs_values = list(map(abs, numbers))
print(abs_values)

print(list(map(float, numbers)))


words = ["Welcome", "to", "Real", "Python"]

print(list(map(len, words)))

[2, 1, 0, 1, 2]
[-2.0, -1.0, 0.0, 1.0, 2.0]
[7, 2, 4, 6]

# math operations on several input iterables:

In [15]:
print(list(map(lambda x, y: x - y, [2, 4, 6], [1, 3, 5])))


print(list(map(lambda x, y, z: x + y + z, [2, 4], [1, 3], [7, 8])))

[1, 1, 1]
[10, 15]

# map using string

In [18]:
string_it = ["processing", "strings", "with", "map"]
print("Capital:",list(map(str.capitalize, string_it)))

print("Upper:",list(map(str.upper, string_it)))

print("Lower:",list(map(str.lower, string_it)))

print("SwapCase:",list(map(str.swapcase, string_it)))

print("Title:",list(map(str.title, string_it)))

Capital: ['Processing', 'Strings', 'With', 'Map']
Upper: ['PROCESSING', 'STRINGS', 'WITH', 'MAP']
Lower: ['processing', 'strings', 'with', 'map']
SwapCase: ['PROCESSING', 'STRINGS', 'WITH', 'MAP']
Title: ['Processing', 'Strings', 'With', 'Map']

In [19]:
#Remove Space
with_spaces = ["processing ", "  strings", "with   ", " map   "]
list(map(str.strip, with_spaces))

['processing', 'strings', 'with', 'map']

In [20]:
#Remove Dots(.)
with_dots = ["processing..", "...strings", "with....", "..map.."]
list(map(lambda s: s.strip("."), with_dots))

['processing', 'strings', 'with', 'map']

In [24]:
import re
def remove_punctuation(word):
     return re.sub(r'[!?.:;,"()-=]', "", word)

remove_punctuation("...Python!()--=--")

'Python'

In [26]:
text = """Some people, when confronted with a problem, think
... "I know, I'll use regular expressions."
... Now they have two problems. Jamie Zawinski"""


words = text.split()
words
['Some', 'people,', 'when', 'confronted', 'with', 'a', 'problem,', 'think'
, '"I', 'know,', "I'll", 'use', 'regular', 'expressions."', 'Now', 'they',
 'have', 'two', 'problems.', 'Jamie', 'Zawinski']

list(map(remove_punctuation, words))

['Some',
 'people',
 'when',
 'confronted',
 'with',
 'a',
 'problem',
 'think',
 'I',
 'know',
 "I'll",
 'use',
 'regular',
 'expressions',
 'Now',
 'they',
 'have',
 'two',
 'problems',
 'Jamie',
 'Zawinski']