# Create a list of 3 elements and calculate the third potency of each element using a list comprehension

In [2]:
numbers = [3, 5, 5]
results = list()
results = [item**3 for item in numbers]
print(results)

[27, 125, 125]

# CALCULATE THE OUTPUT USING map() function

#out:
['DATA', 'data', 4]

['SCIENCE', 'science', 7]

['ACADEMY', 'academy', 7]

['OFFERS', 'offers', 6]

['THE', 'the', 3]

['BEST', 'best', 4]

['DATA', 'data', 4]

['ANALYSIS', 'analysis', 8]

['COURSES', 'courses', 7]

['IN', 'in', 2]

['BRAZIL', 'brazil', 6]

In [3]:
words = 'Data Science Academy offers the best data analysis courses in Brazil'.split()
results = map(lambda w: [w.upper(), w.lower(), len(w)], words)
for i in results:
    print(i)

['DATA', 'data', 4]
['SCIENCE', 'science', 7]
['ACADEMY', 'academy', 7]
['OFFERS', 'offers', 6]
['THE', 'the', 3]
['BEST', 'best', 4]
['DATA', 'data', 4]
['ANALYSIS', 'analysis', 8]
['COURSES', 'courses', 7]
['IN', 'in', 2]
['BRAZIL', 'brazil', 6]

# Calculate the matrix transposed from the matrix below.

In [4]:
matrix = [[1, 2],[3,4],[5,6],[7,8]]
transpose = [[row[i] for row in matrix] for i in range(2)]
print(transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

# Create two functions, one to elevate a number to square and the second to elevate to cube. Run both functions to the elements at the same time.

In [5]:
listOfNumbers = [0, 1, 2, 3, 4]
def cube(n):
    return (n**2)
def square(n):
    return (n**3)
funcs = [cube, square]
for i in listOfNumbers:
    results = map(lambda x: x(i), funcs)
    print(list(results))

[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]

# Elevate each number of the list to the corresponding number of the other list

In [6]:
listA = [2, 3, 4]
listB = [10, 11, 12]
list(map(pow, listA, listB))

[1024, 177147, 16777216]

# Considering the range of values below, use the function filter to return only negative numbers.

In [7]:
range(-5, 5)
list(filter((lambda x: x < 0), range(-5,5)))

[-5, -4, -3, -2, -1]

# Using the filter function, find the values that are common to the two lists bellow

In [8]:
a = [1,2,3,5,7,9]
b = [2,3,5,6,7,8]
print (list(filter(lambda x: x in a, b)))

[2, 3, 5, 7]

# Consider the code below. Get the same result using the time package

In [9]:
import datetime
print (datetime.datetime.now().strftime("%d/%m/%Y %H:%M"))
import time
print (time.strftime("%d/%m/%Y %H:%M"))

16/05/2022 16:57
16/05/2022 16:57

# Consider the two dictionaries below. Create a third dictionary with dictionary keys 1 and dictionary values 2.

In [1]:
dict1 = {'a':1,'b':2}
dict2 = {'c':4,'d':5}
def changeValues(d1, d2):
    dicTemp = {}
    
    for d1key, d2val in zip(d1,d2.values()):
        dicTemp[d1key] = d2val
    
    return dicTemp
dict3 = changeValues(dict1, dict2)
print(dict3)

{'a': 4, 'b': 5}

# Consider the list below and return only those elements whose index is greater than 5

In [2]:
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
for indice, valor in enumerate(lista):
    if indice <= 5:
        continue
    else:
        print (valor)

g
h